@charset "utf-8";
@import 'variables';
@import '~bourbon/core/bourbon';
@import '~bootstrap/scss/bootstrap.scss';
//@import 'bootstrap-custom';

body,
html {
  background-color: $bg-color;
  font-family: $font-stack-verdana;
  color: $text-default-color;
}
